
crash-reports/

*.log

logs/

plugins/MobHunting/backup/

world_new/data/advancements/

world_new/stats/

world_new/player_data/
world_new/playerdata/

world_new/advancements/

mstore/

plugins/Essentials/userdata/
