
crash-reports/

*.log
*.db 

logs/

plugins/MobHunting/backup/

world_new/
world_new_nether/
world_new_the_end/
world_*/
creative/

mstore/

plugins/Essentials/userdata/
plugins/Essentials/usermap.csv
plugins/Factions/factions.json
plugins/Factions/players.json
usercache.json
plugins/MobHunting/rewards.yml
plugins/MobHunting/rewards.yml.old
plugins/SkinsRestorer/Skins

plugins/AuthMe/config.yml

plugins/LuckPerms/config.yml

plugins/WorldEdit/sessions/

plugins/Residence/Save/Worlds/

plugins/Residence/Save/

plugins/Residence/uuids.yml

plugins/Residence/Backup/

plugins/Factions/factionLogs.json

plugins/Factions/board.json
